## open method in python

In [ ]:
# file = open("C:/Users/priya/OneDrive/Desktop/2019.csv", "r")
# contents = file.read()
# file.close()

In [22]:
# creat a file
# file = open("Priya.pdf", "x")

In [25]:
#opening a file
file = open("Priya.txt", "r")
file.write("Hyeeee")

UnsupportedOperation: not writable

In [28]:
#opening a file
file = open("Priya.txt", "w")
file.write("Hyeeee")
file.close()

In [29]:
#opening a file
file = open("Priya.txt", "r")
# file.write("Hyeeee")
contents = file.read()
print(contents)
# file.close()

Hyeeee

In [30]:
# file = open("C:/Users/priya/OneDrive/Desktop/2019.csv", "r")
# contents = file.read()
# print(contents)

## NumPy Practice

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\priya\anaconda3\lib\site-packages (1.21.5)

[notice] A new release of pip available: 22.1.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np

In [4]:
arr = [1,2,3]
type(arr)

list

In [7]:
arr_np = np.array(arr)
type(arr_np)
# arr_np

numpy.ndarray

In [8]:
arr_np.sum()

6

In [15]:
arr1 = np.array([
    [[1,2],[2,3],[3,4],[4,5],[0,0]],
    [[5,6],[6,7],[7,8],[8,9]],
], dtype=object)
arr1.shape
# Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with 
# different lengths or shapes) is deprecated. 
# If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

(2,)

In [20]:
# Example of matrix multiplication/dot product/
arr1 = np.array([[1,2,3],
        [4,5,6],
        [7,8,9]])
arr2 = np.array([1,2,3])
# 1 way to do: np.matmul(arr1, arr2)
# 2 way to do: arr1 @ arr2

array([14, 32, 50])

In [33]:
import urllib.request

urllib.request.urlretrieve(
    'https://gist.github.com/BirajCoder/a4ffcb76fd6fb221d76ac2ee2b8584e9/raw/4054f90adfd361b7aa4255e99c2e874664094cea/climate.csv', 
    'climate.txt')

('climate.txt', <http.client.HTTPMessage at 0x19e476a02b0>)

In [31]:
# file = open('climate.txt', '')
# file

In [3]:
# help(np.genfromtxt)

In [40]:
climate_data = np.genfromtxt("climate.txt", delimiter=',', skip_header=1)
climate_data
# climate_data.shape -> (10000,3)

array([[25., 76., 99.],
       [39., 65., 70.],
       [59., 45., 77.],
       ...,
       [99., 62., 58.],
       [70., 71., 91.],
       [92., 39., 76.]])

In [42]:
weights =  np.array([0.3, 0.2, 0.5])

In [44]:
yields = climate_data @ weights
yields

array([72.2, 59.7, 65.2, ..., 71.1, 80.7, 73.4])

In [50]:
yields.shape

(10000,)

In [2]:
# Now I have to concatenate the yields columns or main data(From the file)
# help(np.concatenate)

In [55]:
# help(np.reshape)
climate_results = np.concatenate((climate_data, yields.reshape(10000, 1)), axis=1)
climate_results

array([[25. , 76. , 99. , 72.2],
       [39. , 65. , 70. , 59.7],
       [59. , 45. , 77. , 65.2],
       ...,
       [99. , 62. , 58. , 71.1],
       [70. , 71. , 91. , 80.7],
       [92. , 39. , 76. , 73.4]])

In [1]:
# help(np.savetxt)

In [56]:
np.savetxt('climate_results.txt',
           climate_results,
)

In [58]:
np.savetxt('climate_results.txt',
           climate_results,
           fmt='%.2f'
)

In [62]:
np.savetxt('climate_results.txt',
           climate_results,
           fmt='%.2f',
           header="Temparture, Rainfall, Humidity, Yields",
           comments=""
)

### *Arithmetic Operations and Broadcasting*

In [6]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr1 + arr2

array([5, 7, 9])

In [3]:
arr1 = np.array([[1,2,3],
                [9,8,7]]
               )
arr1.shape

(2, 3)

In [4]:
arr2 = np.array([4,5,6])
arr2.shape

(3,)

In [5]:
arr1 = np.array([[1,2,3],
                [9,8,7]]
               )
arr2 = np.array([4,5,6])
arr1 + arr2 #this is possible because of broadcasting.

array([[ 5,  7,  9],
       [13, 13, 13]])

In [7]:
arr1 = np.array([[1,2,3],
                [9,8,7]]
               )
arr2 = np.array([4,5])
arr1 + arr2

ValueError: operands could not be broadcast together with shapes (2,3) (2,)

In [8]:
arr0 = np.array([9,5,0])
arr0 + 3

array([12,  8,  3])

In [9]:
arr0 - 9 #expression with a single number. Single number here is termed as a Scalar too

array([ 0, -4, -9])

In [10]:
arr0 * 10

array([90, 50,  0])

In [11]:
arr0 % 3

array([0, 2, 0], dtype=int32)

In [12]:
#Array comparison
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr1 == arr2

array([False, False, False])

In [13]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr1 != arr2

array([ True,  True,  True])

In [14]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr1 < arr2

array([ True,  True,  True])

In [15]:
arr1 = np.array([[1,2,3],
                [4,5,6]])
arr2 = np.array([4,5,6])
# arr1 == arr2
(arr1 == arr2).sum()

array([[False, False, False],
       [ True,  True,  True]])